<div class="container text-center">
    <div class="row mt-5">
        <div class="col">

        </div>
        <div class="col-8 d-flex justify-content-around align-items-center flex-column gap-3">
            <div class="title w-100 d-flex justify-content-between">
                <h1>Product form</h1>
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdropAdd">+
                    Add</button>
            </div>
            <table class="table table-bordered">
                <thead class="border border-none">
                    <tr class="table-active">
                        <th class="col-2">Product name</th>
                        <th class="col-2">Category</th>
                        <th class="col-2">Price</th>
                        <th class="col-2">Date</th>
                        <th class="col-2">Action</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr class="" *ngFor="let product of products">
                        <td class="col-2">{{product.name}}</td>
                        <td class="col-2">{{product.category}}</td>
                        <td class="col-2">{{product.price}}.00 €</td>
                        <td class="col-2">{{product.date}}</td>
                        <td class="col-2">
                            <span class="material-symbols-outlined" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" (click)="editData(product.id)">
                                edit
                            </span>

                            &nbsp;&nbsp;
                            <span class="material-symbols-outlined" (click)="deleteData(product.id)">
                                delete
                            </span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
        </div>

        <!-- Modal -->
        <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Product Form</h1>
                    </div>
                    <div class="modal-body d-flex justify-content-around flex-column gap-3">
                        <input type="text" name="name" id="name" placeholder="Product name*">
                        <select name="category" id="category">
                            <option value="default" [defaultSelected]="true">Product Category*</option>
                            <option value="Fruits">Fruits</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Accessories">Accessories</option>
                            <option value="Parts">Parts</option>
                        </select>
                        <input type="number" name="price" id="price" placeholder="Price*">
                        <input type="date" name="date" id="date" placeholder="Date*">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="saveData()">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade " id="staticBackdropAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content pl-3">
                    <div class="modal-header justify-content-center">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Product Form</h1>
                    </div>
                    <div class="modal-body d-flex justify-content-around flex-column gap-3">
                        <input type="text" name="nameA" id="nameA" placeholder="Product name*">
                        <select name="categoryA" id="categoryA" class="selectOptions text-secondary">
                            <option value="default">Product Category*</option>
                            <option value="Fruits">Fruits</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Accessories">Accessories</option>
                            <option value="Parts">Parts</option>
                        </select>
                        <input type="number" name="priceA" id="priceA" placeholder="Price*">
                        <input type="date" name="dateA" id="dateA" placeholder="Date*">
                    </div>
                    <div class="modal-footer d-flex justify-content-between flex-row">
                            <button type="button" class="btn btn-sm m-0 bg-transparent text-secondary border border-1 border-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-sm m-0 bg-transparent text-secondary border border-1 border-secondary" (click)="addData()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>